## Build output
[Bb]in/
[Oo]bj/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
.idea/

## VS Code
.vscode/

## User secrets
secrets.json

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## OS files
.DS_Store
Thumbs.db

## Env / secrets
.env
*.env
appsettings.*.local.json
/node_modules/.bin
node_modules
