################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Client/bin/Debug/net10.0
/src/PrintAgent/bin/Debug/net10.0
/src/PrintAgent/obj/Debug/net10.0
/src/Server/bin/Debug/net10.0
/src/Server/obj/Debug/net10.0
/src/Shared/obj/Debug/net10.0
/src/Client/obj/Debug/net10.0
/src/Client/obj
/src/PrintAgent/obj
/src/Server/obj
/src/Shared/obj
